:root {
  --background-color: hsl(228, 5%, 15%);
  --text-color: hsl(228, 5%, 80%);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #222;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.is-forced-light-mode {
  background-color: #fff;
  color: #222;
}

body.is-forced-dark-mode,
body[is-christmas-time] {
  background-color: hsl(228, 5%, 15%);
  color: hsl(228, 5%, 80%);
}

body[is-christmas-time] a,
body.is-forced-dark-mode a {
  color: hsl(228, 5%, 80%);
}

a {
  color: var(--text-color);
}

p {
  font-size: 1.3rem;
  margin: 0.3rem 0;
}

.container {
  padding: 2em;
  margin-block-start: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container h1 {
  margin-block-end: 0;
  font-size: 3rem;
}
.container h2 {
  margin-block-start: 0.3em;
}
.container > img {
  width: 15rem;
  border-radius: 50%;
}

.container > h2:last-of-type {
  margin-block-start: 2rem;
}

.container > h2:last-of-type::after {
  content: " 🔎";
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container .light-dark-toggle {
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  column-gap: 1.5rem;
  margin-block-start: 1.8rem;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.5em;
}

body[is-christmas-time] .light-dark-toggle {
  display: none;
}

@media (pointer: coarse) and (orientation: portrait) {
  .container {
    align-items: flex-start;
  }
  .links a {
    font-size: 1.3rem;
  }
}
